body {

}
nav {
  list-style-type: none;
  position: fixed;
  background-color: #650D1B;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
}

li {
  display: inline;
  padding: 25px;
}

a {
  text-decoration: none;
  color: #C1DF1F;
}

a:hover {
  background-color: #823200;
}
